@import url(https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap);

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../Img/backgroud1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    margin: 10px 30px 30px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.container h1{
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 20px;
    height: 100%;
    font-family: 'Diplomata SC', cursive;
    color:black;
    text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;}

.descricao{
    background-color:beige;
    width: 70%;
    height: 100%;
    margin-bottom: 150px
}

.descricao p{
    font-size: 30px;
    padding:20px
}
.chegada{
    width: 100%;
    height: 100%;
    padding:20px;
}
button{
    padding: 15px;
    margin-top: 30px;
    font-family: 'Diplomata SC', cursive;
    color:white;
    background-color: red;
    border-radius: 30px;
    font-size: 30px

}
.botao:hover{
    color:black;
    background-color: white;
}

@media (min-width: 768px){
    .container h1{
        font-size: 60px;
    }
}